<!DOCTYPE html>
<html lang="en">
{{> cssPartial this}}

<body>
  {{> navbarFull this}}
  <div class="container">
    <div class="row">
      <center>
        <span style='color: #F6A; font-size: 150px;'>404</span><br>
        <span style='font-size: 50px'>Where do you think you're going?</span><br>
        <span style='font-size: 30px'>(Page Not Found)</span>
      </center>
    </div>
    {{> jsPartial this}}
</body>

</html>
