<!DOCTYPE html>
<html lang="en">
{{> cssPartial this}}

<body>
  {{> navbarFull this}}
  <center>
    <h1>Prosu</h1> Get get your change in ranking and stats posted to your Twitter account every day!
    <br>
    <a href='/connect/twitter'>
      <button class='btn btn-info btn-raised' style='background-color: #F6A'>Sign In with Twitter</button>
    </a><br>
    <h4>Join <span style='color: #F6A'>{{userCount}}</span> other users today!</b></h4>
    <h4><span style='color: #F6A'>{{tweetCount}}</span> tweets posted so far!</h4>
    <a href='/privacy'>Privacy Policy</a><br>
    <a href='https://github.com/wcalandro/prosu'>Check out the source on GitHub</a>
  </center>

  {{> jsPartial this}}
</body>

</html>
