<!DOCTYPE html>
<html lang="en">
{{> cssPartial this}}

<body>
  {{> navbarFull this}}
  <center>
    <h1>Privacy Policy</h1>
    <p>
      When you login to Prosu using your Twitter account, we don't receive your login information, only a set of tokens that allow us to post tweets to your account. You can disable tweet posting at any time by either disabling the feature when you log in to
      Prosu, or by terminating Prosu's access in your Twitter settings. We don't even have access to the email address associated with your Twitter account, so rest assured that you will not receive any spam from us.
    </p>
  </center>

  {{> jsPartial this}}
</body>

</html>
