<!DOCTYPE html>
<html lang="en">
{{> cssPartial this}}

<body>
  {{> navbarFull this}}
  <div class="container">
    <div class="row">
      <center>
        <span style='color: #03a9f4; font-size: 150px;'>500</span><br>
        <span style='font-size: 50px'>Now you've done it</span><br>
        <span style='font-size: 30px'>(Internal Server Error)</span>
      </center>
    </div>
  {{> jsPartial this}}
</body>

</html>
