<!DOCTYPE html>
<html lang="en">
{{> cssPartial this}}

<body>
  {{> navbarFull this}}
  <center>
    <h1>Maintenance Mode</h1>
    Prosu is currently undergoing maintenance. You can check the status of the website <a href='http://status.{{hostname}}'>here</a>
  </center>

  {{> jsPartial this}}
</body>

</html>
